*{
    font-family: 'PT Sans', sans-serif;
    /* border: 1px solid black; */
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    padding: 0 86px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items:center;

}
.header{
    height: 73px;
    background-color: rgba(38, 92, 154, 1);
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.header_info{
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}
.menu-button, .checkbox {
    display: none;
}

.logo{
    font-size: 28px;
    font-weight: 700;
}
.number{
    font-size: 19px;
    margin: 0 86px;
}
.search{
    position: relative;
}
.header_input-search{
    background-color: rgba(245, 245, 220, 0);
    outline: none;
    padding-left: 15px;
    border: none;
    border-bottom: 1px solid #517DAE;
    font-size: 16px;
    /* width: 100%; */
    color: white;
}
.header_info input::-webkit-input-placeholder {
    color:#ffffff;
    padding-left: 20px ;
}
.modal input::-webkit-input-placeholder{
    color: rgba(72, 72, 72, 1);
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 13px;
    font-size: 16px;
}


.header .search:before{
content: url('images/serch.svg');
position:absolute;
}
.header_delivery{
    color: white;
    text-decoration-line:underline;
}
.menu-header{
    height: 46px;
    background-color:rgba(31, 73, 123, 1);
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}
 .menu-item{
    margin-right: 39px;
} 
.menu-item_link{
    color:white;
    text-decoration: none;
}

.wrapperpopap{
    display: none;
}
.line {
    width: 24px;
    height: 1.88px;
    background-color:white;
    margin-top: 5.62px;
  }

 


.mobile-menu{
padding: 0  20px 20px 20px;
position: absolute;
top: 73px;
left: 0;
width: 100%;
z-index: 2;
background-color: rgba(38, 92, 154, 1);
display: none;
}
.mobile-menu__item{
    list-style: none;
    padding: 0;
}
.mobileMenu-item__link{
    padding-top: 10px;
    padding-bottom: 9px;
    padding-left: 16px;
}
.mobileMenu-item__link:hover{
background-color:rgba(97, 140, 191, 1);
cursor:pointer;
}
.menuMobile-item__link{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.close{
    position: absolute;
    right:0;
    top: -16px;
}
.item-close{
    width: 19px;
    height:2px;
    background-color:rgb(255, 255, 255);
}
.left{
    transform: rotate(45deg);
}
.right{
    position: absolute;
    top: 0;
   transform: rotate(-45deg);
}

.basket{
display: flex;
align-items: center;
}
@media (max-width: 1112px){
    .tittle-basket{
        display: none;
    }
}
.logo-basket{
    padding-right: 9px;
}

.tittle-basket{
    font-size: 16px;
    text-decoration: none;
    color:white;
}
.tittle-basket:hover{
    color: yellow;
} 
.menu-item_link:hover{
    color: yellow;
} 
.header_delivery:hover{
    color:yellow;
}
.checkbox:hover .line{
    background-color:yellow;
}
.logo-basket:hover .basket-svg{
fill:yellow;
}
.filter{
    display: flex;
        margin: 25px 86px;
        align-items:center;
}

.carret{
    position: relative;
}

.input-filter {
    width: 264px;
    height: 48px;
    padding: 10px;
    margin-right: 17px;
    border: 1px solid #D0D0D0;
    font-size: 16px;
    font-weight: 400;
    color: #484848;
    appearance: none;
    cursor: pointer;
}
 .filter div::before{
    content: url(images/caret-down\ 1.png);
    position:absolute;
    left: 234px;
    top: 17px;
}
.modal .tittle-from::before{
    position: absolute;
    content: 'от';
    left: 10px;
    top: 14px;
}
.modal .tittle-before::before{
    content: 'до';
    position: absolute;
    left: 10px;
     top: 14px;

}
.input-filter_price{
    height: 48px;
    width: 132px;
    padding-left: 30px;
    border: 1px solid #D0D0D0;
    font-size: 16px;
    font-weight: 700;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.tittle-input_price{
    margin-left: 27px;
    margin-right: 14px;
    font-size: 16px;
}

.tittle-input_value{
    margin-left: 9px;
    font-size: 16px;
}
.filter input::-webkit-input-placeholder {
    position: absolute;
    right: 11px;
    top: 14px;
}
.tittle-before, .tittle-from{
    position: relative;
}
.filter .tittle-from::before{
    content:'от';
    position:absolute;
    top: 13px;
    left: 11px;
}
.filter .tittle-before::before{
    content: 'от';
    position:absolute;
    top: 13px;
    left: 12px;
}
.tittle-mobile{
    
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    position: relative;
    margin: 13px 20px;
    display: none;
}
.adjust{
    width: 22px; 
    height:22px;
    background-image:url(images/adjust\ 1.png);
    background-size:cover;
}
.wrapper-card{
    padding: 23px 86px ;
}
.card{
    display: flex;
    flex-wrap: wrap;
    /* display: grid; */
    /* grid-template-columns: 2fr 1fr 1fr; */
    /* grid-template-columns: 50% 25% 25%; */
}

.first-product{
    width: 50%;
    display: grid;
    grid-template-columns: 250px auto;
    border: 1px solid rgba(222, 222, 222, 1);
}
.first-product:hover{
    background-color:rgba(255, 241, 241, 1);
    cursor: pointer;
}
#first-product{
    display: grid;
    align-content:space-between;
    margin: 27px 17px 16px 24px;
}
.image-first__product{
    padding: 21px 24px auto 21px;
    width: 250px;
    height: 250px;
    background-image: url(images/product.png);
}
.tittle-first__product{
    font-size: 20px;
    color:rgba(51, 51, 51, 1);
}
.discription-first__product{
    color: rgba(152, 152, 152, 1);
    line-height: 21px;
    margin-top: 4px;
}
.oldPrice-first__product{
   color: rgba(152, 152, 152, 1);
   margin-top: 20px;

}
.line-first_product{
    width: 100%;
    height: 1px;
    background-color: rgba(255, 188, 188, 1);
    margin-top: 3px;

}
.newPrice-first__product{
    position: relative;
    font-size: 20px;
    color: rgba(255, 61, 61, 1);
    margin-top: 5px;
}
.newPrice-first__product::after{
    position: absolute;
    content:url(images/red-basket.png);
    right: 0;
}
.product{
    width: 25%;
    display: grid;
    align-content: space-between;
    padding: 21px 22px 14px 21px;
    border: 1px solid rgba(222, 222, 222, 1);
}
.product:hover{
    background-color: rgba(232, 238, 255, 1);
    cursor: pointer;
}

.image-product{
    background-image:url(images/product.png);
    width: 160px;
    height: 160px;
    margin: 0 auto auto;
    background-size:cover;
}
.tittle-product{
    font-size: 18px;
    color: rgba(51, 51, 51, 1);
    margin-top: 10px;
}
.discription-product{
    font-size: 14px;
    color: rgba(151, 151, 151, 1);
    margin-top: 6px;
}
.line-product{
    width: 100%;
    height:1px;
    background-color:rgba(142, 172, 252, 1);
    margin-top: 21px;
}
.price-product{
    position: relative;
    font-size: 20px;
    color: rgba(50, 90, 192, 1);
    padding-top: 5px;
}
.price-product::after{
    content:url(images/blue-basket.png);
    position:absolute;
    right: 0;

}
  .modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.747);
  }
  
  .modal {
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 21px 18px 19px;
    width: 280px;
    height: 356px;
  }
  .roundButton {
    padding: 0.5rem;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 40px;
    height: 40px;
  }
.input-mobile_filter{
    width: 100%;
    height:48px;
    margin-bottom: 19px;
    
}

.button-mobile_filter{
    background-color:red;
    color:rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    
}
@media(max-width: 1220px){
   .wrapper-card{
       padding: 23px 20px;
   } 
   #first-product{
    margin: 5px 18px;
   }
   .discription-first__product{
       font-size: 13px;
   }
   .product{
       padding: 21px 16px 14px 16px;
   }
   .tittle-product{
       font-size: 16px;
   }
   .filter{
       margin: 25px 20px;
   };
   .input-filter{
       width: 220px;
   }
   .filter div::before{
    content: url(images/caret-down\ 1.png);
    position: absolute;
    left: 230px;
    top: 17px;
   }

}
 @media(max-width: 1024px){
     .wrapper{
         padding: 0 20px;
     }
    .filter{
        display: none;
    }
    .number{
        display: none;
    }
    .header_delivery{
        display: none;
    }
    .menu-header{
        display: none;
        height: 72px;
    }
    .first-product{
        width: 66%;
    }
    .product{
        width: 33%;
    }
    .checkbox {
        display: block;
    }
    .logo{
        margin: 0 41px;
    }
    .header_input-search{
        width: 88%;
    }
    .header_info .search::after{
        content:url(images/Vector.svg);
        position: absolute;
        right: 0;
        top: -7px;
    }
    .header_info{
        width: 100%;
    }
    .search{
        width: 100%;
    }
    .tittle-mobile{
        display: flex;
    justify-content: space-between;
    }
}
@media(max-width: 768px){
   
    .first-product{
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
     .image-first__product{
    width: 244px;
    height: 244px;
    background-size:cover;
    margin: 18px auto;
}     
    .product{
        width: 50%;
    }
    .image-product{
        width: 169px;
        height: 169px;
    }
}
@media(max-width:500px){
    .first-product{
        grid-template-columns: 1fr;
    }
    .product{
        width: 100%;
    }
    .header_input-search{
        display: none;
    }
    .header .search:before{
        content: url('images/serch.svg');
        position:absolute;
        top: -7px;
        right: 30px;
        }
}