*{
    font-family: 'PT Sans', sans-serif;
    border: 1px solid black;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    padding: 0 86px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items:center;

}
.header{
    height: 73px;
    background-color: rgba(38, 92, 154, 1);
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.header_info{
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}
.menu-button{
    display: none;
}
.line-menu__button{
    width: 24px;
    height: 1.88px;
    background-color:white;
    margin-top: 5.62px;
}
.logo{
    font-size: 28px;
    font-weight: 700;
}
.number{
    font-size: 19px;
    margin: 0 86px;
}
.search{
    position: relative;
}
.header_input-search{
    background-color: rgba(245, 245, 220, 0);
    outline: none;
    padding-left: 15px;
    border: none;
    border-bottom: 1px solid #517DAE;
    font-size: 16px;
    /* width: 100%; */
    color: white;
}
.header_info input::-webkit-input-placeholder {
    color:#ffffff;
    padding-left: 20px ;
}
.header .search:before{
content: url('images/serch.svg');
position:absolute;
}
.header_delivery{
    color: white;
    text-decoration-line:underline;
}
.menu-header{
    height: 46px;
    background-color:rgba(31, 73, 123, 1);
    color: white;
}
.menu{
    display: flex;
    /* width: 706px; */
    /* justify-content: space-between; */
    align-items: center;
    list-style: none;
    padding: 0;
}
 .menu-item{
    margin-right: 39px;
} 
.menu-item_link{
    color:white;
    text-decoration: none;
}
.mobile-menu{
position: absolute;
top: 72px;
width: 100%;
z-index: 2;
background-color: rgba(38, 92, 154, 1);
}

.basket{
display: flex;
align-items: center;
}
@media (max-width: 1112px){
    .tittle-basket{
        display: none;
    }
}
.logo-basket{
    padding-right: 9px;
}

.tittle-basket{
    font-size: 16px;
}

.filter{
    display: flex;
        margin: 25px 86px;
        align-items:center;
}

.carret{
    position: relative;
}

.input-filter {
    width: 264px;
    height: 48px;
    padding: 10px;
    margin-right: 17px;
    border: 1px solid #D0D0D0;
    font-size: 16px;
    font-weight: 400;
    color: #484848;
    appearance: none;
    cursor: pointer;
}
 .filter div::before{
    content: url(images/caret-down\ 1.png);
    position:absolute;
    left: 234px;
    top: 17px;
}

.input-filter_price{
    height: 48px;
    width: 132px;
    padding-left: 30px;
    border: 1px solid #D0D0D0;
    font-size: 16px;
    font-weight: 700;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.tittle-input_price{
    margin-left: 27px;
    margin-right: 14px;
    font-size: 16px;
}

.tittle-input_value{
    margin-left: 9px;
    font-size: 16px;
}
.filter input::-webkit-input-placeholder {
    position: absolute;
    right: 11px;
    top: 14px;
}
.tittle-before, .tittle-from{
    position: relative;
}
.filter .tittle-from::before{
    content:'от';
    position:absolute;
    top: 13px;
    left: 11px;
}
.filter .tittle-before::before{
    content: 'от';
    position:absolute;
    top: 13px;
    left: 12px;
}
.tittle-mobile{
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    position: relative;
    margin: 13px 20px;
    display: none;
}
.tittle-mobile p::after{
    content: url(images/adjust\ 1.png);
    position: absolute;
    right: 0;
}
.wrapper-card{
    padding: 23px 86px ;
}
.card{
    display: flex;
    flex-wrap: wrap;
    /* display: grid; */
    /* grid-template-columns: 2fr 1fr 1fr; */
    /* grid-template-columns: 50% 25% 25%; */
}

.first-product{
    width: 50%;
    display: grid;
    grid-template-columns: 250px auto;
    border: 1px solid rgba(222, 222, 222, 1);
}
#first-product{
    display: grid;
    align-content:space-between;
    margin: 27px 17px 16px 24px;
}
.image-first__product{
    padding: 21px 24px auto 21px;
    width: 250px;
    height: 250px;
    background-image: url(images/product.png);
}
.tittle-first__product{
    font-size: 20px;
    color:rgba(51, 51, 51, 1);
}
.discription-first__product{
    color: rgba(152, 152, 152, 1);
    line-height: 21px;
    margin-top: 4px;
}
.oldPrice-first__product{
   color: rgba(152, 152, 152, 1);
   margin-top: 20px;

}
.line-first_product{
    width: 100%;
    height: 1px;
    background-color: rgba(255, 188, 188, 1);
    margin-top: 3px;

}
.new-first__product{
    font-size: 20px;
    color: rgba(255, 61, 61, 1);
    margin-top: 5px;
}

.product{
    width: 25%;
    display: grid;
    align-content: space-between;
    padding: 21px 22px 14px 21px;
    border: 1px solid rgba(222, 222, 222, 1);
}

/* .last-card{
     display: flex; 
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-columns: 25% 25% 25% 25%;
} */

.image-product{
    background-image:url(images/product.png);
    width: 160px;
    height: 160px;
    margin: 0 auto auto;
    background-size:cover;
}
.tittle-product{
    font-size: 18px;
    color: rgba(51, 51, 51, 1);
    margin-top: 10px;
}
.discription-product{
    font-size: 14px;
    color: rgba(151, 151, 151, 1);
    margin-top: 6px;
}
.line-product{
    width: 100%;
    height:1px;
    background-color:rgba(142, 172, 252, 1);
    margin-top: 21px;
}
.price-product{
    font-size: 20px;
    color: rgba(50, 90, 192, 1);
    padding-top: 5px;
}
@media(max-width: 1220px){
   .wrapper-card{
       padding: 23px 20px;
   } 
   #first-product{
    margin: 5px 18px;
   }
   .discription-first__product{
       font-size: 13px;
   }
   .product{
       padding: 21px 16px 14px 16px;
   }
   .tittle-product{
       font-size: 16px;
   }
   .filter{
       margin: 25px 20px;
   };
   .input-filter{
       width: 220px;
   }
   .filter div::before{
    content: url(images/caret-down\ 1.png);
    position: absolute;
    left: 230px;
    top: 17px;
   }

}
 @media(max-width: 1024px){
     .wrapper{
         padding: 0 20px;
     }
    .filter{
        display: none;
    }
    .number{
        display: none;
    }
    .header_delivery{
        display: none;
    }
    .menu-header{
        display: none;
        height: 72px;
    }
    .first-product{
        width: 66%;
    }
    .product{
        width: 33%;
    }
    .menu-button{
        display: block;
    }
    .logo{
        margin: 0 41px;
    }
    .header_input-search{
        width: 88%;
    }
    .header_info .search::after{
        content:url(images/Vector.svg);
        position: absolute;
        right: 0;
        top: -7px;
    }
    .header_info{
        width: 100%;
    }
    .search{
        width: 100%;
    }
    .tittle-mobile{
        display: block;
    }
}
@media(max-width: 768px){
   
    .first-product{
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
     .image-first__product{
    width: 244px;
    height: 244px;
    background-size:cover;
    margin: 18px auto;
}     
    .product{
        width: 50%;
    }
    .image-product{
        width: 169px;
        height: 169px;
    }
}
@media(max-width:500px){
    .first-product{
        grid-template-columns: 1fr;
    }
    .product{
        width: 100%;
    }
    .header_input-search{
        display: none;
    }
    .header .search:before{
        content: url('images/serch.svg');
        position:absolute;
        top: -7px;
        right: 30px;
        }
}